@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .borde-largo {
    &::before {
      content: "";
      display: block;
      position: absolute;
      // top: -1em;
      width: 100px;
      height: 10px;
      background-color: #000;
    }
  }
  
  .borde {
    &::before {
      content: "";
      display: block;
      position: absolute;
      // top: -1em;
      width: 50px;
      height: 10px;
      background-color: #000;
    }
  }
}



