body {
  @apply font-sans bg-gray-200 leading-tight;
}

// #main {
//   margin-top: 200px;

//   body.home & {
//     margin-top: 0;
//   }
// }

pre.sf.dump {
  // para que se active el z-index del @dump()
  position: relative;
}

#hamb {
  width: 40px;
  height: 38px;

  i {
    width: 100%;
    height: 10px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#solapa {
  min-width: 270px;

  #cerrar,
  .boton-flecha {
    &:hover svg path {
      fill: #DC2626;
    }
  }

  #nav-principal .my-child-menu li {
    &:first-child {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 1rem;
    }
   }
}

