body {
  @apply font-sans leading-tight;
}

a {
  .banner & {
    color: black;
  }

  body.post-type-archive-publication .brand &,
  body.single-video .brand &,
  body.post-type-archive-video .brand &,
  body.clientes .brand &,
  body.customers .brand &,
  body.colaboradores .brand &,
  body.colaborators .brand &,
  body.page-template-premios .brand &,
  body.page-template-exposiciones .brand & {
    color: #fff;
  }

  body:not(.home) .main & {
    color: #6464df;
    transition: color 0.5s, background-color 0.5s;
    text-decoration: none;
  }

  &:hover {
    color: #dc2626;
  }
}

#main {
  body.clientes &,
  body.customers &,
  body.colaboradores &,
  body.colaborators &,
  body.archive &,
  body.page-template-premios &,
  body.page-template-exposiciones & {
    margin-top: 200px;         
  }

  #content {
    p,
    ul,
    ol,
    blockquote,
    h1,
    h2,
    h3,
    h4,
    h5,
    > .wp-block-image,
    .wp-block-gallery {
      @apply px-6 lg:mx-auto lg:max-w-3xl md:px-0;

      &.sangre {
        @apply max-w-full;
        height: auto;

        img {
          @apply w-full;
        }
      }
    }
  }
}

body.post-type-archive-publication,
body.post-type-archive-video,
body.single-video,
body.clientes,
body.cuestomers,
body.colaboradores,
body.colaborators,
body.page-template-premios,
body.page-template-exposiciones {
  background-color: #000;
  color: #fff;

  #hamb {
    i {
      background-color: #fff;
    }
  }
}

pre.sf.dump {
  // para que se active el z-index del @dump()
  position: relative;
}

#hamb {
  width: 40px;
  height: 38px;

  i {
    width: 100%;
    height: 10px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#solapa {
  min-width: 270px;

  #cerrar,
  .boton-flecha {
    &:hover svg path {
      fill: #DC2626;
    }
  }

  #nav-principal .my-child-menu li {
    &:first-child {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 1rem;
    }
   }
}

.caja {

}

