@font-face {
    font-family: 'lg';
    src: url("../fonts/lg-font/lg.woff2") format("woff2"), url("../fonts/lg-font/lg.ttf") format("truetype"), url("../fonts/lg-font/lg.woff") format("woff"), url("../fonts/lg-font/lg.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
