.post-type-archive-academic {
    @media (min-width: 1024px) {
        .article {
            .thumb {
                max-width: 33vw;
                max-height: 66vh;
                left: 0; 
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto; 
                margin: auto; 
            }

            &:hover {
                background-color: #000;
                h2 {
                    color: #fff;
                }
            }
        }
    }
}