.post-type-archive-story {
    a[role='article'] {
        .col-1 {
            .header {
                h2 {
                    &::before {
                        left: -1.5rem;
                    }
                }
            }

            .entry-summary p {
                margin-bottom: 1em;
            }
        }
        &:hover {
            background-color: #000;
            
            h2,
            p {
                color: #fff;
            }
            
            img {
                filter: grayscale(100) contrast(50);
            }
        }
    }

    @media (min-width: 1024px) {
        a[role='article'] {
            .col-1 {
                max-width: 800px;
                .header,
                .entry-summary {
                    width: 50%;
                    flex-shrink: 0;
                    flex-grow: 0;
                }
            }
            .thumb {
                img {
                    max-height: 20vw;
                    width: auto;
                }
            }
        }
    }
}

