.post-type-archive-academic {
    @media (min-width: 1024px) {
        .article {
            .thumb {
                max-width: 40vw;
                max-height: 66vh;
                left: 0; 
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto; 
                margin: auto;
                z-index: 0;
            }

            &:hover {
                background-color: #000;
                h2 {
                    color: #fff;
                }
            }

            h2 {
                font-size: 3rem;
                z-index: 10;
            }
        }
    }
}