#posts {
    .columna {
        padding-bottom: 75vh;
        padding-top: 75vh;
    }
}

#icn-scroll {
    opacity: 1;
    transition: opacity 1s;

    svg {
        width: 30px;
        height: auto;
    }
}