.banner {
    .brand {
        --wght: 900;
    }

    #solapa {
        .no-link {
            & > div > a {
                pointer-events: none;
            }
        }
        .my-child-menu a {
            --wght: 800;
        }
    }
}