body.page-template-exposiciones {
    --pad: 2rem;

    ul.exposiciones {
        > li {
            width: 100%;
            border-bottom: 5px solid #fff;
            padding-top: var(--pad);
            padding-bottom: var(--pad);

            p,
            li {
                margin-bottom: 5px;
            }

            &:first-child {
                border-top: 5px solid #fff;
            }
        }
    }

    @media (min-width: 640px) {
        ul.exposiciones {
            > li {
                width: 50%;
                max-width: 300px;

                padding-right: var(--pad);

                &:nth-child(even) {
                    padding-right: 0;
                }

                &:nth-child(2) {
                    border-top: 5px solid #fff;
                }
            }
        }
    }

    @media (min-width: 768px) {
        ul.exposiciones {
            > li {
                width: 33.33%;

                padding-right: var(--pad);

                &:nth-child(even) {
                    padding-right: var(--pad);
                }

                &:nth-child(3n) {
                    padding-right: 0;
                }

                &:nth-child(3) {
                    border-top: 5px solid #fff;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        ul.exposiciones {
            > li {
                width: 25%;

                padding-right: var(--pad);

                &:nth-child(3n) {
                    padding-right: var(--pad);
                }

                &:nth-child(4n) {
                    padding-right: 0;
                }

                &:nth-child(4) {
                    border-top: 5px solid #fff;
                }
            }
        }
        
    }

    @media (min-width: 1280px) {
        ul.exposiciones {
            > li {
                width: 20%;

                padding-right: var(--pad);

                &:nth-child(4n) {
                    padding-right: var(--pad);
                }

                &:nth-child(5n) {
                    padding-right: 0;
                }

                &:nth-child(5) {
                    border-top: 5px solid #fff;
                }
            }
        }
    }

    @media (min-width: 1536px) {
        ul.exposiciones {
            > li {
                width: 16.66%;

                padding-right: var(--pad);

                &:nth-child(5n) {
                    padding-right: var(--pad);
                }

                &:nth-child(6n) {
                    padding-right: 0;
                }

                &:nth-child(6) {
                    border-top: 5px solid #fff;
                }
            }
        }
    }
}