.single {
    header {
        h1 {
            font-size: max(4vw, 2rem);
            --wght: 900;
        }
    }

    .botonera {
        #btn-info ~ #btn-adjuntos {
            left: -5px;
        }
    }

    .meta {
        h3 {
            --wght: 800;
        }
        
        button {
            transition: color 0.5s, background-color 0.5s;
        }
        
        .box {
            top: -5px;

            .marco {
                border: 5px solid black;

                .bloque {
                    width: 100%;
                    border-bottom: 5px solid #000;

                    &:last-child {
                        border-bottom: none;
                    }

                    &.datos {
                        li {
                            h3 {
                                max-width: 100px;
                            }
                            span {
                                padding-left: 1em;
                            }
                        } 
                    }
                }
            }
        }
    }

    .adjuntos {
        .box {
            top: -5px;
        }
        
        .adjunto {
            max-width: 160px;
            color: #fff;

            svg path {
                fill: #fff;
            }

            &:hover {
                color: #000;

                svg path {
                    fill: #000;
                }
    
            }
        }
    }

    .excerpt {
        border-top: 5px solid black;
        border-bottom: 5px solid black;

        p {
            @apply font-sans;
            --wght: 700;
            font-size: 1rem;
        }

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    .relacionados a {
        color: white;
    }

    @media (min-width: 510px) {
        .meta {
            .box .marco {
                .bloque {
                    width: 50%;

                    &:nth-child(odd) {
                        border-right: 5px solid #000;
                    }

                    &:nth-child(3) {
                        border-bottom:none;
                    }

                    &.autores {
                        order: 1;
                    }

                    &.colaboradores {
                        order: 3;
                    }

                    &.datos {
                        order: 4;
                    }

                    &.tax {
                        order: 5;
                    }
                }
            }

            &.num-bloques-2 {
                .box .marco .bloque:first-child {
                    border-bottom: none;
                }
            }
        }
    }

    @media (min-width: 900px) {
        header.no-hero {
            min-height: 30vh;
        }

        .meta {
            .box .marco .bloque {
                width: 33.33%;
            }

            &.num-bloques-3 {
                .box .marco .bloque {
                    border-bottom: none;

                    &:nth-child(2) {
                        border-right: 5px solid black;
                    }

                    &:nth-child(3) {
                        border-right: none;
                    }
                }
            }

            &.num-bloques-4 {
                .box .marco .bloque {
                    &:nth-child(2) {
                        border-right: 5px solid black;
                    }

                    &:nth-child(3) {
                        border-bottom: 5px solid black;
                        border-right: none;
                    }

                    &:nth-child(3) {
                        border-bottom: 5px solid black;
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .meta {
            .box .marco .bloque {
                width: 25%;
                border-bottom: none;
            }

            &.num-bloques-4 {
                .box .marco .bloque:nth-child(3) {
                    border-bottom: none;
                    border-right: 5px solid black;
                }
            }
        }
    }
}